.primary-content {
  /* background-color: #005883; */
  /* color: whitesmoke; */
  padding: 20px;
  font-family: "Franklin Gothic Book", "Arial Narrow", Arial, sans-serif;
}
.font-primary{
  font-family: "Franklin Gothic Book", "Arial Narrow", Arial, sans-serif !important;
}