/*
    Estructuras CSS compartidas entre todas las vistas
*/

body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(44, 44, 44);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #ffffff;
  padding: 1em;
}

/* BEGIN NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  font-family: "Franklin Gothic Heavy";
}

nav ul {
  display: flex;
  justify-content: start;
}

nav ul li {
  list-style: none;
  padding-right: 10px;
  padding-left: 10px;
}

li > a {
  text-decoration: none;
}

li > a:link {
  color: #005883;
}

li > a:active {
  color: #003d5c;
}

/* END NAVBAR */
