/*
    Estructuras CSS compartidas entre todas las vistas
*/

body {
  background-color: #333333;
}

body,
h1,
h2,
h3,
h4,
section,
article,
picture,
footer {
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #ffffff;
  padding: 1em;
}

/* HEADER */
/* header picture img {
  width: 100%;
  height: 450px;
  margin-top: 10px;
} */

/* IMAGE SECTION */
.image-section {
  margin: 0 auto;
  max-width: 1232px;
  background-image: url("../img/code.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  padding: 0px;
  height: 200px;
}

/* BEGIN NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  font-family: "Franklin Gothic Heavy";
}

nav ul {
  display: flex;
  justify-content: start;
}

nav ul li {
  list-style: none;
  padding-right: 10px;
  padding-left: 10px;
}

li > a {
  text-decoration: none;
}

li > a:link {
  color: #005883;
}

li > a:active {
  color: #003d5c;
}

/* END NAVBAR */

footer {
  margin: 0 auto;
  max-width: 1232px;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.footer-content {
  font-family: "Franklin Gothic Book", "Arial Narrow", Arial, sans-serif;
}

.main-page {
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-rows: auto;
}

/* BEGIN ASIDE */
.aside-tweets {
  max-width: 300px;
  max-height: 600px;
  padding-top: 10px;
  overflow: auto;
}

.twitter-follow-button {
  padding-left: 10px;
}

.footer-content p {
  font-weight: bold;
  margin-right: 5px;
}
/* END ASIDE */

.color-orange h2 {
  color: #f47920;
  font-family: "Franklin Gothic Heavy";
}

/* BEGIN SUBITENS */
.main-item {
  cursor: pointer;
}

.main-item:hover {
  cursor: pointer;
}

.main-item ul {
  display: none;
  position: absolute;
  flex-direction: column;
  width: 140px;
}

.main-item:hover ul {
  display: flex;
}

.main-item ul li {
  position: relative;
  left: -20px;
  top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(197, 197, 197);
}

.main-item ul li:hover {
  background-color: rgb(219, 219, 219);
}

/* END SUBITENS */
